<footer>
    <nav>
    <ul class="menu">
        <li>
        <a href="#top" class="menu-element" data-link="top" title="На главную">Главная</a>
        </li>
        <li>
        <a href="#portfolio" class="menu-element" data-link="portfolio" title="Фотогалерея">Галерея</a>
        </li>
        <li>
        <a href="#contact" class="menu-element" data-link="contact" title="Контактная информация">Контакты</a>
        </li>
        <li>
        <a href="services.html" class="menu-element" title="Услуги">Услуги</a>
        </li>
        <li>
        <a href="blog.html" class="menu-element" title="Блог сайта">Блог</a>
        </li>
        <li>
        <a href="location.html" class="menu-element" title="Контактны компании">Найти</a>
        </li>
    </ul>
    </nav>
    <div class="brand">
    <img src="img/fort-icon.png" alt="Логотип сайта">
    <span>AWESOME</span>
    </div>
    <div class="social">
    <a href="#" title="Facebook" target="_blank">
        <img class="social-img" src="img/social/001-facebook.png" alt="Facebook">
    </a>
    <a href="#" title="LinkedIn" target="_blank">
        <img class="social-img" src="img/social/004-linkedin.png" alt="LinkedIn">
    </a>
    <a href="#" title="Instagram" target="_blank">
        <img class="social-img" src="img/social/005-instagram.png" alt="Instagram">
    </a>
    <a href="#" title="Twitter" target="_blank">
        <img class="social-img" src="img/social/007-twitter.png" alt="Twitter">
    </a>
    <a href="#" title="Tumblr" target="_blank">
        <img class="social-img" src="img/social/010-tumblr.png" alt="Tumblr">
    </a>
    </div>
    <div class="copyright">© Very First Page 2023</div>
</footer>