<!-- меню страницы -->
<nav id="myTopnav">
    <img src="img/fort-icon.png" alt="Логотип сайта">
    <ul class="menu">
        <li>
        <a href="/" class="menu-element" title="На главную">Главная</a>
        </li>
        <li>
        <a href="shop" class="menu-element" title="Витрина">Витрина</a>
        </li>
        <li>
        <a href="contacts" class="menu-element" title="Контактная информация">Контакты</a>
        </li>
        <li>
        <a href="services" class="menu-element" title="Услуги">Услуги</a>
        </li>
        <li>
        <a href="blog" class="menu-element" title="Блог сайта">Блог</a>
        </li>
        <li>
        <a href="location" class="menu-element" title="Контактны компании">Найти</a>
        </li>
    </ul>
    <div id="hamburger" class="icon">
        &#9776;
    </div>
</nav>