
      <section id="top">
        <img class="top-image" src="img/01.jpg" alt="Обложка сайта">
      </section>
      <section class="services" id="services">
        <h1 class="main-title">Наши возможности</h1>
        <div class="delimiter"></div>
        <p class="main-title-description">Lorem ipsum dolor sit amet</p>
        <!--  внешний блок -->
        <div class="services-container">
          <!-- обёртка -->
          <div class="container-row">
            <!-- элемент -->
            <div class="row-item">
              <img class="item-img" src="img/icon-8.png" alt="">
              <h2>Lorem ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row-item">
              <img class="item-img" src="img/icon-1.png" alt="">
              <h2>Lorem ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row-item">
              <img class="item-img" src="img/icon-3.png" alt="">
              <h2>Lorem ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row-item">
              <img class="item-img" src="img/icon-4.png" alt="">
              <h2>Lorem ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row-item">
              <img class="item-img" src="img/icon-5.png" alt="">
              <h2>Lorem ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row-item">
              <img class="item-img" src="img/icon-7.png" alt="">
              <h2>Lorem ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="portfolio" id="portfolio">
        <h2 class="main-title">Наши работы</h1>
        <div class="delimiter"></div>
        <p class="main-title-description">Lorem ipsum dolor sit amet</p>
        <div class="portfolio-container">
          <div class="portfolio-item" style="background-image: url('img/portfolio/img09.jpg')" data-img="img/portfolio/img09.jpg">
            <div class="description-container">
              <p class="portfolio-title">Lorum dolorum</p>
              <p class="portfolio-description">
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </div>
          <div class="portfolio-item" style="background-image: url('img/portfolio/img11.jpg')" data-src="img/portfolio/img11.jpg">
            <div class="description-container">
              <p class="portfolio-title">Lorum dolorum</p>
              <p class="portfolio-description">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </div>
          <div class="portfolio-item" style="background-image: url('img/portfolio/img10.jpg')" data-src="img/portfolio/img10.jpg">
            <div class="description-container">
              <p class="portfolio-title">Lorum dolorum</p>
              <p class="portfolio-description">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </div>
          <div class="portfolio-item" style="background-image: url('img/portfolio/img12.jpg')" data-src="img/portfolio/img12.jpg">
            <div class="description-container">
              <p class="portfolio-title">Lorum dolorum</p>
              <p class="portfolio-description">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </div>
          <div class="portfolio-item" style="background-image: url('img/portfolio/img13.jpg')" data-src="img/portfolio/img13.jpg">
            <div class="description-container">
              <p class="portfolio-title">Lorum dolorum</p>
              <p class="portfolio-description">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </div>
          <div class="portfolio-item" style="background-image: url('img/portfolio/img14.jpg')" data-src="img/portfolio/img14.jpg">
            <div class="description-container">
              <p class="portfolio-title">Lorum dolorum</p>
              <p class="portfolio-description">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="contact" id="contact">
        <h2 class="main-title">Контактная форма</h1>
        <div class="delimiter"></div>
        <p class="main-title-description">С радостью ответим на любой вопрос</p>
        <form id="contactform" method="post" action="contact.php" class="contact-form">
    			<input name="name" type="text" class="col" placeholder="Ваше имя *" required>
    			<input name="email" type="email" class="col" placeholder="E-mail адрес *" required>
          <input name="theme" type="text" class="col" placeholder="Тема сообщения">
          <input name="phone" type="tel" class="col" placeholder="Номер телефона">
    			<textarea name="comment" class="row-col" placeholder="Сообщение *" required></textarea>
    			<input type="submit" id="submit" class="submit btn" value="Отправить сообщение">
        </form>
      </section>
    
