<section id="top">
  <img class="top-image top-image-sub" src="img/01.jpg" alt="Обложка страницы">
</section>
<section id="services">
  <h1 class="main-title">Наши услуги</h1>
  <div class="delimiter"></div>
  <p class="main-title-description">Перечень всех возможностей и услуг нашей компании</p>
  <div class="slider-container">
    <div class="slider-arrow left"></div>
    <div class="slider-arrow right"></div>
    <div class="slider-image"></div>
  </div>
  <div class="service-grid">
    
  </div>
</section>